* {
  margin: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
}

#title {
  font-size: 2rem;
  color: white;
}

nav {
  background-color: #242424;
}

nav a img{
  height: 4rem;
}

nav ul {
  font-size: 1.3rem;
}

.nav-link {
  color: white;
}

.nav-item {
  margin: 0 10px;
  color: white;
}

#hamburger-icon {
  color: white;
  font-size: 2rem;
}

.home-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  .home-page, .first-section, .second-section {
    position: relative;
    width: 100%;
    min-height: 175vh;
  }
}

.home-page-inner {
  background-image: url("images/brick-wall.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.panel {
  background-color: #242424;
  position: relative;
  top: 30vh;
  padding: 15vh;
}

.item-title {
  margin-top: 20px;
}

.first-section {
  background-image: url("images/wooden-planks.jpg");
  background-size: cover;
  height: 100vh;
  width: auto;
}

.item-description {
  position: relative;
  top: 20vh;
  font-size: 1.3rem;
  line-height: 1.7;
  background-color: #242424;
  padding: .5rem 1em;
}

.item-image {
  position: relative;
  top: 20vh;
  height: 15rem;
}

.second-section {
  background-image: url("images/stone-wall.png");
  background-size: cover;
  height: 100vh;
  width: auto;
}
